body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #fff;
}

h1{
    font-size: 50px;
    color: aquamarine;
    font-weight: bold;
    margin: 135px 0px 20px;
}

#clockdiv{
    text-align: center;
    display: inline-block;
    font-weight: 100;
    font-size: 55px;
}

#clockdiv > div {
    padding: 70px;
    border-radius: 10px;
    background-color: burlywood;
    display: inline-block;
}

#clockdiv div > span{
    padding: 50px;
    border-radius: 5px;
    display: inline-block;
    background-color: coral;
}

.smalltext{
    padding: 20px;
    font-size: 25px;
}